{% extends "base.html" %}
{% load static%}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<!--About-->
<section id="about" class="page page-dark" style="background-image: url('{% static "img/losing-weight.jpg" %}'); background-repeat: repeat; background-size: 100%; ">
  <h1 style="color: white;">ABOUT</h1>
  <div class="container" >
    <p style="font-size: x-large; font-weight: 500; color: white;">
      SoloFit helps you to improve your sports experience. Here, you can get informed about your body and your
      health, determine the most suitable target for you, learn your calorie needs according to your goal, make an
      exercise plan and see exercise forms accordingly. You can also learn the answers of the most popular questions
      about fitness and contact us to get more information.
    </p>
  </div>
  <hr /><br />
  <ul style="font-size: x-large; font-weight: 500; color: white;">
    <li>Calculate your BMI to determine your goal.</li>
    <li>Calculate your caloric needs and macros due to your goal.</li>
    <li>Create a workout program.</li>
    <li>Learn exercise forms from the exercise guide.</li>
    <li>Browse FAQ to get informed.</li>
    <li>Contact us for your questions or suggestions.</li>
  </ul>
  <a href="{% url 'bmicalc' %}" class="btn btn-blue">Get Started</a>
</section>
{% else %}
<p>You are not logged in</p>
<p><a href="{% url 'password_reset' %}">Password Reset</a></p>
<p><a href="{% url 'login' %}">Log In</a></p>

  
{% endif %}
{% endblock %}